body {
  margin: 0;
  padding: 0;
  background-color: #45badd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("/robot.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
