:root {
  --box-color-gradient: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
  --body-color-gradient: linear-gradient(to bottom right, #38a2d7, #561139);
  --border-radius: 8px;
  --md-space: 8px;
  --ls-space: 16px;
  --xl-space: 32px;
  --xxl-space: 64px;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Anek Telugu", sans-serif;
  --font-color: #414a4c;
  --box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-image: var(--body-color-gradient);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--primary-font);
  color: var(--font-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 h4,
p {
  font-family: var(--secondary-font);
}

.display {
  display: block;
}

.hidden {
  display: none;
}

/* ///////////////// RULES SECTION //////////////// */
.rules-section {
  background-image: var(--box-color-gradient);
  box-shadow: var(--box-shadow);
  width: 45rem;
  height: 20rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none;
}

.rules-heading {
  margin: calc(var(--xl-space) - 10px) 0 var(--md-space) var(--xl-space);
  margin-right: auto;
}

.rules-section .rules {
  padding: var(--ls-space) var(--md-space);
  margin: var(--md-space);
  border-bottom: 2px solid rgb(181, 175, 175);
  border-top: 2px solid rgb(181, 175, 175);
}

.rules .rules-desc {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: var(--md-space);
}

.rules-desc span {
  color: red;
  font-weight: bold;
}

.btn {
  color: white;
  background-color: rgb(34, 115, 195);
  padding: var(--md-space) calc(var(--xl-space) - 10px);
  border: none;
  margin: var(--md-space) var(--xl-space) var(--md-space) 0;
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
  border-radius: var(--border-radius);
  transition: transform 0.2s ease-in;
}
.btn:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.1);
}

/* ///////////////// QUIZ SECTION //////////////// */

.quiz-section {
  background-image: var(--box-color-gradient);
  width: 40rem;
  height: 40rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacing-box {
  margin: var(--md-space) 0 var(--xl-space) 0;
  padding: var(--ls-space) var(--ls-space) var(--ls-space) var(--xl-space);
}

.quiz-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--md-space);
  width: 10rem;
  margin: 0 var(--xl-space) 0 0;
  border-radius: var(--border-radius);
  background-color: rgb(190, 209, 255);
  font-weight: bold;
}

.time-left {
  font-size: 18px;
}

.time-show {
  background-color: black;
  color: rgb(239, 239, 239);
  padding: var(--md-space);
  border-radius: 4px;
}

.ques-options-container {
  /* margin: var(--md) 0 var(--ls-space) 0; */
  border-bottom: 2px solid gray;
}

.options {
  display: flex;
  flex-direction: column;
  gap: var(--ls-space);
  margin: var(--ls-space) 0 var(--md-space) 0;
}

.option {
  background-color: rgb(194, 215, 234);
  padding: calc(var(--ls-space) - 4px) 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  text-indent: var(--ls-space);
  border: 2px solid rgb(169, 185, 236);
}

.counter {
  background-color: red;
  margin-right: auto;
  padding: var(--md-space);
  margin-left: 20px;
}
