* root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  width: 30rem;
  height: 45rem;
  flex-direction: column;
  padding: 10px 30px;
  background-image: linear-gradient(to bottom right, #1eb2e4, #6b5f8b);
  border-radius: 10px;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.3);
}

#heading {
  text-align: center;
  margin-bottom: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  box-sizing: border-box;
}

.input-box label {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.input-box input {
  padding: 10px 10px;
  border-radius: 8px;
  outline: none;
  font-size: 20px;
  color: rgb(27, 26, 26);
  background-color: rgb(251, 244, 244);
  box-sizing: border-box;
}

.input-box input::placeholder {
  color: grey;
}

.register-btn {
  background-color: rgb(9, 30, 56);
  color: rgb(225, 226, 226);
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  letter-spacing: 3px;
  margin-top: 10px;
  cursor: pointer;
}

/* success message */
.success-msg-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4f5456;
  color: #fbfbfb;
  border-radius: 12px;
  box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.3);
  padding: 25px 20px;
}

.success-msg-container .check-icon {
  font-size: 40px;
  font-weight: bolder;
  padding: 15px;
  border-radius: 50%;
  color: #4f5456;
  background-color: white;
}

.border-red {
  border: 2px solid rgb(243, 21, 21);
}

.border-green {
  border: 2px solid rgb(6, 238, 6);
}

.hidden {
  display: none;
}
