:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  border: 2px solid rgb(164, 154, 154);
  width: 30rem;
  height: 30rem;
  background-color: #313436;
  border-radius: 10px;
}
.rating-part {
  padding: 25px 0;
}

.stars {
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.icon {
  font-size: 60px;
  cursor: pointer;
}

.rating-part .rating-text {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 0;
}

.post-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 25px;
}

.post-input textarea {
  background-color: rgb(60, 58, 58);
  border: 2px solid rgb(93, 89, 89);
  font-size: 25px;

  border-radius: 8px;
  color: #fff;
  padding: 10px 0;
}

.post-input textarea::placeholder {
  color: rgb(139, 128, 128);
  font-size: 20px;
  text-indent: 5px;
}

.btn-post {
  padding: 12px 6px;
  background-color: rgb(60, 58, 58);
  border: 2px solid rgb(93, 89, 89);
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

/* rating popup */
.rating-popup {
  background-color: rgb(60, 58, 58);
  border: 2px solid rgb(157, 152, 152);
  border-radius: 8px;
  width: 26rem;
  height: 5rem;
  position: relative;
}
.rating-popup p {
  text-align: center;
  font-size: 30px;
  color: rgb(212, 192, 192);
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.rating-popup button {
  background-color: transparent;
  font-size: 15px;
  border: none;
  color: rgb(212, 192, 192);
  text-transform: uppercase;
  padding: 12px;
  position: absolute;
  top: -2px;
  right: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}
