:root {
  --primary-color: #84a765;
  --primary-color: #4675d3;
  --primary-color: #583f52;
  --color-white: #fff;
  --font-color: rgb(162, 151, 151);
  --body-color: rgb(237, 229, 229);
  --color-container: rgb(220, 216, 211);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-container {
  background-color: var(--body-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  background-color: var(--color-container);
  width: 40rem;
  height: 40rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile {
  height: 30rem;
  width: 24rem;
  margin: 0 3rem;
  position: relative;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  background-color: var(--color-white);
  transition: all 0.8s ease;
}

.profile .upper-part {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
}

.upper-part .img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: relative;
  background: var(--color-white);
  padding: 3px;
}

.upper-part .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--primary-color);
  box-sizing: border-box;
}

.profile .lower-part {
  background-color: var(--color-white);
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  padding: 10px 15px;
}
.lower-part .name {
  font-size: 1.5rem;
  margin-top: -5px;
}

.lower-part .desc {
  color: var(--font-color);
  font-size: 18px;
  margin-top: -20px;
  padding: 0 10px 5px 0;
  text-align: center;
}

.lower-part .btn {
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  /* margin: 0 0 25px 0; */
  cursor: pointer;
}

.arrow-btn {
  font-size: 3rem;
  font-weight: 400;
  border: none;
  background-color: var(--body-color);
  color: var(--primary-color);
  cursor: pointer;
  z-index: 1;
}

#next-button {
  position: absolute;
  right: 15px;
}
#prev-button {
  position: absolute;
  left: 15px;
}

/* dots styeling  */
.dot-container {
  width: 12rem;
  height: 2rem;
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.dot {
  width: 1.3rem;
  height: 1.3rem;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.dot-activated {
  background-color: var(--primary-color);
}

/* color container style  */
.color-container {
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.color {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.hidden {
  display: none;
}
.display {
  display: block;
}
