:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.nav {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  padding: 10px 50px;
  background-color: rgb(9, 122, 117);
}

.logo-container {
  width: 8rem;
  height: 8rem;
  margin-right: 10rem;
}

.logo-container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.search {
  width: 40%;
  margin-right: auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2rem;
}

.search input {
  width: 80%;
  padding: 20px 30px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.search-icon {
  font-size: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.links {
  display: flex;
  color: white;
  list-style-type: none;
  margin-right: 6rem;
}

.links .link {
  margin-left: 3rem;

  font-size: 25px;
}
