:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  padding: 10px 50px;
  background-color: rgb(9, 122, 117);
}

.logo-container {
  width: 8rem;
  height: 8rem;
  margin-right: 10rem;
}

.logo-container img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
}

.search {
  width: 40%;
  margin-right: auto;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2rem;
}

.search input {
  width: 80%;
  padding: 20px 30px;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.search-icon {
  font-size: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.links {
  display: flex;
  color: white;
  list-style-type: none;
  margin-right: 6rem;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.links .link {
  margin-left: 3rem;

  font-size: 25px;
}

/* //////////////// APP CONTAINER /////////////////////// */

.app-section {
  display: flex;
  justify-content: center;

  height: 45rem;
}
.app-container {
  width: 40rem;
  height: auto;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  overflow: scroll;
}

.user {
  margin-left: auto;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user input {
  padding: 10px 0;
  margin-left: 20px;
  border: none;
  width: 8rem;
  font-weight: bold;
  border-bottom: 1px solid gray;

  outline: none;
  background-color: rgb(236, 236, 236);
  font-size: 20px;
}

.create-todo-container {
  width: 35rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todo-header {
  text-transform: uppercase;
  color: gray;
  font-size: 20px;
  padding: 10px 0;
}

.todo-text {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.task-entry {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
}
.task-entry input {
  width: 90%;
  font-size: 25px;
  outline: none;
  border: none;
}

.task-entry input::placeholder {
  color: rgb(164, 160, 160);
  font-size: 25px;
  text-indent: 10px;
}

.add-todo-container {
  display: flex;
  flex-direction: column;

  width: 35rem;
  height: 14rem;
  margin-top: 10px;
  gap: 20px;
}

.add-todo-container .text {
  color: gray;
  font-size: 20px;
}

.category {
  display: flex;
  gap: 20px;
}

.category .cat {
  background-color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 6rem;
  cursor: pointer;
  border-radius: 8px;
}
.cat .cat1-circle,
.cat2-circle {
  width: 2rem;
  border: 3px solid rgb(86, 86, 228);
  height: 2rem;
  border-radius: 50%;
}

.cat .cat2-circle {
  border: 3px solid magenta;
}

/* classes for filling while click on them */
.filled-business {
  background-color: rgb(86, 86, 228);
  border: 2px solid white;
}

.filled-personal {
  background-color: magenta;
}

.add-todo-container .add-button {
  background-color: rgb(9, 122, 117);
  padding: 15px 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

/*  do-to list */
.todo-list-container {
  position: relative;
}

.task-header {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 0 6px;
  align-items: center;
}

.task-header h2 {
  color: gray;
  margin: 0;
}

.task-header button {
  padding: 10px 25px;
  background-color: rgb(228, 88, 88);
  color: white;
  border: none;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.todo-list {
  width: 35rem;
  margin-top: 20px;
  /* border: 2px solid red; */
}

.task-container {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  border-radius: 8px;
  margin-top: 15px;
}

.task-container .circle-task {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 40px 0 20px;
  cursor: pointer;
  /* border: none; */
}

.uncheck-task-personal {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 40px 0 20px;
  cursor: pointer;
  border: 3px solid rgb(86, 86, 228);
  background-color: white;
}

.uncheck-task-business {
  border: 3px solid rgb(235, 21, 168);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 40px 0 20px;
  cursor: pointer;

  background-color: white;
}

.line-through-desc {
  text-decoration: line-through;
}

.task-container .task {
  margin-right: auto;
  padding: 10px 0;
  width: 60%;
  font-size: 25px;
  outline: none;
  border: none;
}
.task-container .menu-button {
  margin-right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.todo-list-container .menu-box {
  /* border: 2px solid green; */
  width: 6rem;
  padding: 10px 15px;
  position: absolute;
  top: 6rem;
  right: 2rem;
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
}

.menu-box button {
  padding: 4px 6px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 5rem;
  border: none;

  border-bottom: 1px solid gray;
}

.hide {
  display: none;
}

.display-menu-box {
  display: block;
}
