* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  margin-top: 20px;
  font-size: 40px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* image container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.error-msg {
  width: 25rem;
  background-color: whitesmoke;
  position: fixed;
  color: rgb(219, 46, 46);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(218, 209, 209);
  box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.3),
    inset 4px 3px 2px rgba(0, 0, 0, 0.3);
}

/* Mobile screen */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .image-container {
    margin: 10px;
  }
}
